* {
  margin: -4px;
  padding: 2px;
  box-sizing: border-box;
  font-family: Tahoma !important;
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgb(229, 229, 226);
  filter:brightness(.9);
}

.map {
  height: 800px;
  width: 100%;
  position: relative;
  filter: grayscale(.5);
  object-fit: cover;
  display: flex;
  align-items: center;
}

.event {
  padding: 10px;
  border: 3px solid rgb(180, 180, 180);
  margin-bottom: 10px; 
  border-radius: 1em;
  margin-top: 1em;
}

.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}

.section {
  transition: all .5s;
}

.nav-it {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  gap: 5em;
  transition: all .5s;
}

@media screen and (max-width: 684px) {
  .nav-it {
    display: none;
  }
}

@media screen and (max-width:810px) {
  .primary-heading {
    width: 100%;
    display: inline;
  }
  .primary-text {
    width: 100%;
  }
}

.nav-link {
  text-decoration: none;
  color: #000000b7;
  font-size: 18px;
  transition: all 0.5s ease-out;
}

.nav-link:hover {
  text-decoration: none;
  color: #000000;
  font-size: large;
  font-size: 20px;

}

.nav-link .active {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image {
  max-width: 600px;
  flex: 1;
  filter:  grayscale(.92) saturate(250%) hue-rotate(170deg);
}
.home-text-section {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #000000;
  /* line-height: 5rem; */
  font-weight: 900;
  margin-bottom: 1em;
  position: relative;
  margin-right: auto;
  text-align: start;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #000000b7;
  margin: 0rem 0rem;
  text-align: start;
  margin-bottom: 5em;
}
.secondary-button {
  padding: 2rem 2.5rem;
  background-color: rgb(168, 187, 199);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20vw;
  text-align: center;
  position: relative;
  left: 43%;
  margin-bottom: 10em;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: rgb(144, 159, 169);
}

.primary-heading-work {
  font-size: 42px;

}

@media screen and (max-width: 810px) {
  .primary-heading {
    width: 100%;
    display: block;
    text-align: center;
  }
  .primary-text {
    width: 100%;
    text-align: center;
  }
  .navbar-links-container a {
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .home-banner-container {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

  }
  .home-image {
    max-width: 70%;
  }
  .home-text-section {
    width: 100%;
  }
  .secondary-button {
    left: 0;
    margin: 2rem auto;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
  }
  .arrow-down {
    display: flex;
  }
  .work-section-wrapper {
    flex-direction: column;
  }
}

.work-section-wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work-section {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 1em;
}

.work-section img {
  max-width: 90px;
  height: auto;
  position: relative;
  top: .6em;
}

.work-head {
  color: #333;
  margin-top: 2em;
  margin-bottom: 1em;
}

.primary-heading-work {
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 4rem;
}

.info-boxes-img-container {
  height: 100px; /* Adjust as needed */
  background-color: #ccc;
  border-radius: 1em;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}
.footer-section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer-logo-container {
  flex: 1;
}
.footer-icons {
  display: flex;
  gap: 10px;
}
.footer-section-two {
  padding: 20px;
}
.footer-section-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
  }
  .footer-section-one {
    padding: 20px 40px;
  }
  .footer-section-two {
    padding: 20px 40px;
  }
  .footer-section-columns {
    grid-template-columns: 1fr 1fr;
  }
}
